* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 16pt;
    font-weight: 250;
}

@font-face {
    font-family: "titleFont";
    src: url("../assets/fonts/mythology_of_egypt/Mythology\ Of\ Egypt.otf");
}

h1 {
    font-family: "titleFont", sans-serif;
    font-size: 80pt;
}
h2 {
    font-weight: 700;
    font-size: 40pt;
}
h3 {
    text-transform: uppercase;
    font-size: 18pt;
    font-weight: 400;
}
h4 {
    font-size: 18pt;
    font-weight: 800;
    line-height: 1.5;
}

/* Header and Navbar */
header {
    padding: 45px 80px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    border-radius: 35px;
    background-color: rgba(211, 211, 211, 0.85);
}

.logo {
    display: flex;
    justify-content: left;
    width: 280px;
    display: block;
}
.navLinks {
    display: flex;
    gap: 20px;
}
.navbar a {
    text-decoration: none;
    color: #4d4d4d;
    font-size: large;
    font-weight: 600;
    transition: color 0.25s;
}

.navbar a:hover {
    color: #15d5f5;
}

.search {
    width: max-content;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    background: #ffffff;
    transition: box-shadow 0.25s;
}

.search:focus-within {
    box-shadow: 0 0 5px rgba(77, 77, 77, 0.75);
}

.searchItem {
    background-color: transparent;
    border: none;
}

.bar {
    border-right: solid #4d4d4d 2px;
}
.search button {
    color: #4d4d4d;
    padding: 0px 10px;
}

/* Buttons */
.buttonBase {
    margin-top: 15px;
    padding: 25px 50px;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    color: #ffffff;
    font-size: large;
    font-weight: 750;
    transition: box-shadow;
}

.buttonBase:active {
    box-shadow: 0 0 5px rgba(77, 77, 77, 0.75);
}

.buttonBase a {
    text-decoration: none;
    color: #eeeeee;
    font-weight: bold;
}

/* Light Blue Button */
.buttonBlue {
    background-color: #15d5f5;
}

/* Yellow Button */
.buttonYellow {
    background-color: #e9ad1c;
}

.buttonDark {
    background-color: #002d68;
}

/* Hero card */
.hero {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    height: 350px;
    padding-bottom: 50px;
}

.hero h1 {
    color: #ffffff;
}

/* Global Card Styling */
.cardBlue {
    background-color: #002d68;
    color: #ffffff;
}
.cardBlue h3 {
    color: #e9ad1c;
}

.cardWhite {
    color: #4d4d4d;
}
.cardWhite h3 {
    color: #15d5f5;
}

.cardYellow {
    background-color: #e9ad1c;
    color: #ffffff;
}

.headerGlobalDiv {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.headerHomeDiv {
    background-image: url(../assets/img/homeHeader.png);
    background-color: #43696c;
}
.headerContactDiv {
    background-image: url(../assets/img/contactHeader.png);
}

/* This is what makes the background of the Adopt page header blurred
The contents gets placed in a <div> and the background image in a <div>
Together these are in a new <div>,
allowing for the background to get blurred separately from content
*/

.headerAdoptDiv {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 440px;
    width: 100dvw;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../assets/img/adoptHeader.png);
    z-index: -1;
    filter: blur(5px);
}

.headerAdoptContent {
    z-index: 5;
    background-color: rgba(184, 77, 77, 0.1);
    position: relative;
}

/*
Homepage/Index
*/
/* Homepage Hero Card */
.homeHero {
    padding: 90px 15dvh;
    padding-left: 900px;
    padding-right: 110px;
    padding-bottom: 75px;

    height: 105dvh;
    text-align: left;
}

.homeHero h1 {
    color: #e9ad1c;
}

.homeHero p {
    font-family: "Metamorphous", sans-serif;
    font-size: 20pt;
}

.homeCardA {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 90px 20dvh;
    gap: 100px;
    height: 100vh;
}

.homeCardB {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 60px;
    padding-left: 150px;
    padding-right: 80px;
    gap: 50px;
    height: 700px;
}
.homeCardB h2 {
    color: #2f004f;
}
.homeCardB img {
    border-radius: 20px;
}

.homeCardC {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 90px 40dvh;
    height: 975px;
}

.pastLegendsCard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 50px;
}

.pastLegendsCard img {
    border-radius: 25px;
}
.pastLegendProfile {
    transition: box-shadow 0.2s;
}

.pastLegendProfile:hover {
    box-shadow: 0 0 15px rgba(21, 213, 245, 0.5);
}

/*
Contact Page
*/
.contactHero {
    height: 250px;
}

.cardContact h2 {
    color: #002d68;
}
.contactAbout {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px;
    gap: 80px;
}

.contactAbout img {
    border-radius: 25px;
}

.contactSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.contactLeft {
    flex: 0.9;
    display: flex;
    flex-direction: column;
    gap: 75px;
}

.contactMap iframe {
    border-radius: 25px;
}

/* Contact Form styling */
.contactForm,
.contactForm h2 {
    color: #ffffff;
}
.contactForm form {
    padding: 15px;
    padding-bottom: 35px;
    gap: 10px;
    border-radius: 35px;
    background-image: url(../assets/img/formBackground.png);
}

.formElement {
    width: 100%;
    padding: 10px;
}

.contactForm input,
.contactForm select,
.contactForm textarea {
    width: 95%;
    padding: 20px 0px;
    padding-left: 25px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-family: "Poppins";
}

.buttonContact {
    margin-left: 10px;
}

/* Pop up message */
/* Modal / popup styling */
.modal_container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(77, 77, 77, 0.75);

    opacity: 0;
    pointer-events: none;
}

.modal_container.show {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    border-radius: 35px;
    padding: 30px 50px;
    width: 600px;
    max-width: 100%;
    box-shadow: 0 22px 4px rgba(77, 77, 77, 0.25);
    text-align: center;
}

/* About/Adopt Page */
.aboutHero {
    height: 250px;
}

.cardAdoptTop {
    padding: 50px;
    text-align: center;
}
.cardAdoptTop h2 {
    font-family: "Metamorphous", sans-serif;
    line-height: 1.8;
    color: #e9ad1c;
}

/* Filter bar */
.mainFilterBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
}

.filterLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.filterBar {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: solid #ffffff 2px;
    padding-right: 20px;
    gap: 8px;
}

.filterBar button {
    background-color: transparent;
    border: none;
    color: #ffffff;
}

.sortForm input,
.sortForm select {
    background-color: rgba(255, 255, 255, 0.785);
    border: none;
    border-radius: 5px;
    color: #2f004f;
    padding: 6px;
    font-weight: 300;
}
.sortForm {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 20px;
}

/* Adopt Cards */
.adoptCard {
    display: flex;
    gap: 80px;
    padding: 85px;
}

.adoptCard img {
    border-radius: 15px;
}
.adoptRating {
    display: flex;
    gap: 50px;
}

/* Adding a div/class to the h3 doesn't change the actual colour, so
doing it a bit more hard-coded */
.adoptAzuron h3,
.adoptAurelia h3,
.adoptStarwind h3 {
    color: #9f9f9f;
}

.adoptYuki h3,
.adoptLumina h3,
.adoptBriar h3 {
    color: #15d5f5;
}

.adoptRating h5 {
    padding-left: 35px;
    border-left: solid #9f9f9f 2px;
    color: #9f9f9f;
}

.adoptStar {
    color: #e9ad1c;
}

.adoptButtonsDiv {
    display: flex;
    gap: 35px;
    padding-bottom: 35px;
}

.adoptCounterDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 15px;
    padding: 25px 50px;
    border-radius: 15px;
    border: none;
}

.buttonCounter {
    border: none;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
}

.adoptButtonForm input {
    /* Text Styling */
    font-size: large;
    font-weight: 750;
    text-align: center;
    color: #ffffff;

    /* Clearing form styling */
    background-color: transparent;
    border: none;
    cursor: default; /*not entirely sure what cursor behavior need to be*/
    /* Still need to get rid of the arrows */
}

.addToCradleButton {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.adoptAddOns {
    border-top: solid #9f9f9f 2px;
    color: #9f9f9f;
    padding-top: 35px;
    display: flex;
    gap: 20px;
}

.adoptAboutPara {
    padding-top: 20px;
}

.viewCradleSection {
    position: fixed;
    right: 50px;
    bottom: 50px;
}

.buttonViewCradle {
    background-color: rgba(233, 173, 28, 0.7);
    transition: background-color 0.2s;
}
.buttonViewCradle:hover {
    background-color: rgba(233, 173, 28, 1);
}

/*
FOOTER
*/
footer {
    align-items: center;
    text-align: left;

    background-color: #ffffff;
    color: gray;
    padding: 50px 90px;
}

footer h4 {
    color: #000000;
    font-size: large;
}

.footerTop {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eeeeee;
    padding: 20px;
}

.footLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footLinks a {
    text-decoration: none;
    color: grey;
    transition: color 0.25s;
}

.footLinks a:hover {
    color: #15d5f5;
}

.socialLinks {
    display: flex;
    gap: 10px;
    flex-direction: row;
}

.socialLinks a {
    transition: box-shadow;
    border-radius: 10px;
}

.socialLinks a:hover {
    box-shadow: 0 0 5px rgba(21, 213, 245, 0.75);
}

.footerBot {
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
}

.footerRight {
    display: flex;
    gap: 20px;
}

.footerBot a {
    text-decoration: none;
    color: grey;
    transition: color 0.25s;
}

.footerBot a:hover {
    color: #15d5f5;
}
